<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<script src="/fetchql.js"></script>
<script>
	var Query = new FetchQL({
		url: '/', // GraphQL server address
		interceptors: [],
		headers: {}, // customized headers of all requests,
		onStart: function (requestQueueLength) {}, // callback of a new request queue
		onEnd: function (requestQueueLength) {}, // callback of a request queue finished
		omitEmptyVariables: false, // remove null props(null or '') from the variables
	});
</script>
<body>
    {{{body}}}
</body>
</html>